<h2 class="page-header">Edit <%= @track.title %></h2>

<%= render "form", track: @track %>

<br>
<br>

<p>
  <form action="<%= track_url(@track) %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <%= auth_token %>
    <input type="submit" value="Delete Track">      
  </form>
</p>

<br>

<p class="button">
    <a data-turbolinks="false" 
      href="<%= album_url(@track.album) %>"
      >Back to <%= @track.album.title %></a>
</p>