<h2 class="page-header"><%= @track.title %></h2>

<h3 class="sub-header">Track Info</h3>
<p>Album: <%= @track.album.title %></p>
<p>Track No: <%= @track.ord %></p>
<p>Track Type: <%= @track.bonus ? "Bonus" : "Standard" %></p>
<% if @track.lyrics %>
  <p>Lyrics:</p>
  <p><%= @track.lyrics %></p>
<% end %>

<br>

<h4 class='sub-header'>Notes</h4>

<% @track.notes.each do |note| %>
  <%= render "notes/note", note: note %>
<% end %>

<br> 

<%= render "notes/form", track: @track %>

<br>
<br>

<a class="button" 
  data-turbolinks="false" 
  href="<%= edit_track_url(@track) %>"
  >Edit Track</a>

<br>

<a class="button" 
  data-turbolinks="false" 
  href="<%= album_url(@track.album) %>"
  >Back to <%= @track.album.title %></a>