<% action_url = album.persisted? ? album_url(album) : albums_url %>
<% http_method = album.persisted? ? "PATCH" : "POST" %>
<% submit_text = album.persisted? ? "Update Album" : "Create Album" %>

<form class="form" action="<%= action_url %>" method="POST">
    <input type="hidden" name="_method" value="<%= http_method %>">
    <%= auth_token %>

    <p>
        <label for="band-name">Band:</label>
        <select id="band-name" name="album[band_id]">
            <% Band.all.each do |band| %>
            <option value="<%= band.id %>" name="album[band_id]" <%= album.band_id == band.id ? "selected" : "" %>>
                <%= band.name %></option>
            <% end %>
        </select>
    </p>

    <p>
        <label for="title">Album Title:</label>
        <input id="title" name="album[title]" value="<%= album.title %>">
    </p>

    <p>
        <label for="year">Year:</label>
        <input id="year" type="number" name="album[year]" value="<%= album.year %>">
    </p>

    <p>
        <label for="studio">Studio Album</label>
        <input id="studio" type="radio" name="album[live_album]" value="f" <%= "checked" if !album.live_album %>>
        <label for="live">Live Album</label>
        <input id="live" type="radio" name="album[live_album]" value="t" <%= "checked" if album.live_album %>>
    </p>

    <input type="submit" value="<%= submit_text %>"> 
</form>