<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='main-content'>
      <nav>
        <a class="main-logo" data-turbolinks="false"
        href="<%= bands_url %>"
        >Music App</a>

        <% if current_user.nil? %>
          <ul>
          <li class="sign-in-links"><a data-turbolinks="false" href="<%= new_session_url %>">Sign In</a></li>
          <li class="sign-in-links"><a data-turbolinks="false" href="<%= new_user_url %>">Create New User</a></li>
          </ul>
        <% else %>
          <div class="user-details">
            <p><%= current_user.email %></p>
            <form action="<%= session_url %>" method="post">
              <%= auth_token %>
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Logout">
            </form>
          </div>
        <% end %>
      </nav>

      <% if flash[:errors] %>
        <p><%= flash[:errors].join(",") %></p>
      <% end %>

      <% if flash[:notices] %>
        <p><%= flash[:notices] %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
