<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='main-content'>
      <nav>
      <h1 class="main-logo">Music App</h1>

        <% if current_user.nil? %>
          <ul class="sign-in-links">
          <li><a data-turbolinks="false" href="<%= new_session_url %>">Sign In</a></li>
          <li><a data-turbolinks="false" href="<%= new_user_url %>">Create New User</a></li>
          </ul>
        <% else %>
          <div class="user-details">
            <p><%= current_user.email %></p>
            <form action="<%= session_url %>" method="post">
              <%= auth_token %>
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Logout">
            </form>
          </div>
        <% end %>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
